*{box-sizing: border-box;}
$ownner:#f40552;

$colors: (
    back: #e36387,
    heaven: #a6dcef,
    body: #DAE1E7,
    aqua: #8EC6C5,
    toas:#32e0c4
);
.container{
    width: 1100px;
}
@mixin follow {
    margin: 6px;
    width: 35px;
}
@mixin backgroundBody ($color:#f9f9f9) {  
    background-color: $color;

}
@mixin backgroundFooterYHeader ($color: #e36387) {
    background-color: $color;

}
@mixin backgroundSection($color:#a6dcef) {
    background-color: $color;
}
@mixin backgroundCreadores($color:#ffe0ac) {
    background-color: $color;
    padding-bottom: 480px;
}
@mixin estefaniaMorales ($color: #ffe8df){
    background-color: $color;
    width: 50%;
    float:left;

    h6{
        display: inline-block;
        font-family: nunito;
        font-size: 2rem;
        margin: 13px;
        color: $ownner;
    }
    p{
        color: #4d3e3e;
    }
    img{
        width: 284px;
        margin: 16px;
        float: left;
        border-radius: 20%;
    }
    h3{
        color: $ownner;
        padding-left: 20px;
    }
    ul.followUs{
        display: flex;
        list-style: none;
        padding-left: 19px;
        img{
            @include follow()
        }
    }
}
@mixin alejandraPosada ($color: #ffe8df){
    background-color: $color;
    width: 50%;
    float:right;

    h6{
        display: inline-block;
        font-family: nunito;
        font-size: 2rem;
        margin: 13px;
        color: $ownner;
    }
    p{
        color: #4d3e3e;
    }
    img{
        width: 284px;
        margin: 16px;
        float: left;
        border-radius: 20%;
    }
    h3{
        color: $ownner;
        padding-right: 191px;
        padding-left: 10px;
    }
    ul.followUs{
        display: flex;
        list-style: none;
        padding-left: 10px;
        
        img{
            @include follow()
        }
        
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@each $name, $color in $colors {
    .btn-#{$name} {
        background-color: $color;
        text-transform: uppercase;
        border: none;
        padding: 16px 32px;
        text-decoration: none;
        margin: 10px 12px;
        cursor: pointer;
        font-family: montserrat;
        font-size: 14px;
        font-weight: bolder;
        transition: 250ms ease;

        &:hover {
            transform: scale(1.1);
            background-color: lighten($color, 20%);
            animation-play-state: paused;
            color: black;
        }

        @if $name=="blue" {
            border: none;
            padding: 14px 30px;
            text-decoration: none;
            margin: 10px auto;
            cursor: pointer;
            color: white;
            font-family: montserrat;
            font-size: 12px;
            font-weight: bolder;
            transition: 250ms ease;

            &:hover {
                transform: scale(1.1);
                background-color: #8EC6C5;
                color: #fff;
                animation-play-state: paused;
            }
        }
    }
}

body {
    margin: 0;
    padding: 0 15px 15px 15px;
    color: #0C0E11;
    font-size: 16px;
    font-family: nunito;
    @include backgroundBody;
}
button{
    i{
    color: white;
    }
}
//index
header {
    div.wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include backgroundFooterYHeader();
        
        nav {
            display: flex;
            color: white;
            width: 100%;
            a {
                img.logo {
                    max-width: 300px;
                }
            }
        }
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            align-content: flex-end;
            flex: 1;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;
            }

            a {
                color: white;
                font-size: 1rem;
                justify-content: space-between;

            }
        }  
    }
}
div.element-style {
    display: inline;

    img.booky {
        width: 456px;
        height: auto;
        object-fit: cover;
        float: right;
    }

    h1.main {
        font-family: nunito;
        font-size: 4rem;
        color: #00909E;
        padding: 15px;
        margin-top: 28px;
        line-height: 4.5rem;

        strong {
            color: #142850;
            margin-bottom: 8px;
            margin-top: 0;
        }
    }

    p {
        font-size: 1.7rem;
    }
}
section.second {
    display: flex;
    padding: 0px 14px;
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 12px;
    @include backgroundSection();

    div.form {
        color: white;
        margin: 0 auto;
        width: 400px;
        text-align: center;
        font-family: nunito;
        font-size: 35px;
        text-align: center;

        h2 {
            font-family: nunito;
            font-size: 54px;
            color: #fff;
            margin: 5px;
            
        }

        form.index {
            display: flex;
            font-family: montserrat;
            font-size: 18px;
            font-weight: lighter;
            color: black;
            margin: 0;
            padding: 0;

            input#email {
                font-family: montserrat;
                font-size: 12px;
                font-weight: lighter;
                margin-bottom: 1rem;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid #142850;

                &::placeholder {
                    color:black;
                }
            }
        }
    }
}
footer {
    display: inline-block;
    padding: 0;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-family: nunito;
    text-align: center;
    margin: 0px;
    padding: 6px;
    @include backgroundFooterYHeader();

    p {
        color: white;
        font-size: 1rem;
        font-family: nunito;
        text-align: center;
        margin: 0px;
    }

    ul {
        display: inline;
        list-style-type: none;
        text-align: center;
        li {
            display: inline;
            text-align: center;
            margin: 0 10px 0 0;
            a {
                img {
                    max-width: 54px;
                }
            }
        }
    }
}
h1.main {
    font-family: nunito;
    font-size: 4.2rem;
    color: #00909E;
    padding: 15px;
    margin-top: 28px;
    line-height: 4.5rem;
    text-align: center;
}
textarea{
    background-color:#a6dcef ;
    width: 417px;
    height: 59px;
    border-radius: 2%;
    border-color: #a6dcef;
    border-bottom: 1px solid #142850;
    &::placeholder {
        color: rgb(255, 255, 255);
    }
    &:hover {
        background-color: darken($color: #a6dcef, $amount: 10);
        color: #fff;
    }
}
//contactos
section.contacts {
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-radius: 20%;
    margin: 1rem 20rem 2rem 20rem;
    @include backgroundSection();
    form.contactos {
        font-family: nunito;
        font-size: 15px;
        font-weight: bolder;
        margin: 15px 12px;
        width: 400px;
        color: #142850;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        div {
            label{
                text-transform: uppercase;
                margin: auto;
            }
            input.contact {
                width: 100%;
                padding: 15px 0px;
                font-family: montserrat;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid #142850;

                &::placeholder {
                    color: rgb(255, 255, 255);
                }
                &:hover {
                    background-color: darken($color: #a6dcef, $amount: 10);
                    color: #fff;
                }
            }
        }
        select {
            font-family: montserrat;
            background-color: #a6dcef;
            &:hover {
                background-color: darken($color: #a6dcef, $amount: 10);
                color: #fff;
            }
        }
        div#condition {
            width: 14px;
        }
    }
}
//Quienes Somos
main{
    div{
        img.lector{
            width: 315px;
            height: auto;
            object-fit: cover;
            float: right;
        }
    }
    div.row{
        p{
            font-size: 20px;
            text-align:left;
        }
    }
}
section.creadores{
    @include backgroundCreadores();
        h2{
            font-family: nunito;
            font-weight: bolder;
            font-size: 3.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }
    div.estefania{
        @include estefaniaMorales();
    }
    div.alejandra{
        @include alejandraPosada()
    }

}
//galería
section.gallery {
    margin-bottom: 2rem;
    div.article-layout {
        max-width: 1000px;
        margin: auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-auto-flow: dense;  
        div.img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                transform: scale(1.08);
                background-color:lighten($color: #e36387, $amount: 20);
                border-radius: 30px;
            }
            img {
                height: auto;
                width: 285px;
            }
        }
        .img-wrapper.featured {
            grid-column: span 2;
            grid-row: span 2;
        }
        .img-wrapper.extend{
            grid-column: span 1;
            grid-row:span 2 ;
        }
    }
}


//Media Queries
@media (max-width: 320px) { 
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;

        .navbar-brand {
            display: block;
            margin: auto;

            img.logo {
                width: 90%;
                padding: 0px;
            }

            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
        }
    }
    div.element-style{
        img.booky{
            max-width: 240px;
            float: none;
            display: block;
            margin: auto;
            margin-top: 21px;
        }
        h1.main{
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
        }
        p{
            font-size: 20px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 38px;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        h1.main{
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
            margin-top: 1px;
        }
        div{
            img.lector{
                width: 200px;
                height: auto;
                float: none;
                display: block;
                margin: auto;
            }
        }
        div.row{
            flex-wrap: wrap;
            .col{
                flex: 0 0 100%;
            }
            p{
                font-size: 18px;
                text-align:left;
            }
        }
    }
    section.creadores {
        padding-bottom: 23px;

        h2 {
            font-family: nunito;
            font-weight: bolder;
            font-size: 2.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }

        div.estefania {
            width: 100%;
            float: none;

            img {
                width: 237px;
                margin: 16px;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
            }
            ul {
                display: flex;
                list-style-type: none;
                text-align: center;
                margin-left: 92px;
                li {
                    display: block;
                    text-align: center;    
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }

        div.alejandra {
            width: 100%;
            float: none;

            img {
                width: 237px;
                margin: 16px;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
                padding: 0px;
            }
            ul {
                display: flex;
                list-style-type: none;
                text-align: center;
                margin-left: 92px;
                li {
                    display: block;
                    text-align: center;    
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }
    
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns:  1fr;
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: block;
            justify-content: center;
            border-radius: 20%;
            margin: auto;
            margin-bottom: 15px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 13px;
                font-weight: bolder;
                margin: auto;
                width: auto;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                div {
                    textarea{
                        background-color:#a6dcef ;
                        width: 237px;
                        height: 59px;
                        border-radius: 2%;
                        border-color: #a6dcef;
                        border-bottom: 1px solid #142850;
                        &::placeholder {
                            color: rgb(255, 255, 255);
                        }
                        &:hover {
                            background-color: darken($color: #a6dcef, $amount: 10);
                            color: #fff;
                        }
                    }
                a.form-contact{
                    display: inline-flex;
                    width: 111px;
                }
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 12px;
                        display: inline;
                    }
                }
            }
        }
    }
}
@media (min-width:321px) and (max-width: 520px) { 
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;

        .navbar-brand {
            display: block;
            margin: auto;

            img.logo {
                width: 90%;
                padding: 0px;
            }

            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
        }
    }
    div.element-style{
        img.booky{
            max-width: 240px;
            float: none;
            display: block;
            margin: auto;
            margin-top: 21px;
        }
        h1.main{
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
        }
        p{
            font-size: 20px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 38px;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        h1.main{
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
            margin-top: 1px;
        }
        div{
            img.lector{
                width: 200px;
                height: auto;
                float: none;
                display: block;
                margin: auto;
            }
        }
        div.row{
            flex-wrap: wrap;
            .col{
                flex: 0 0 100%;
            }
            p{
                font-size: 18px;
                text-align:left;
            }
        }
    }
    section.creadores {
        padding-bottom: 23px;

        h2 {
            font-family: nunito;
            font-weight: bolder;
            font-size: 2.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }

        div.estefania {
            width: 100%;
            float: none;

            img {
                width: 237px;
                margin: 16px;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
            }
            ul {
                display: inline;
                list-style-type: none;
                text-align: center;
                padding: 72px;
    
                li {
                    display: inline;
                    text-align: center;    
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }

        div.alejandra {
            width: 100%;
            float: none;

            img {
                width: 237px;
                margin: 16px;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
                padding: 0px;
            }
            ul {
                display: inline;
                list-style-type: none;
                text-align: center;
                padding: 72px;
    
                li {
                    display: inline;
                    text-align: center;    
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }
    
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns:  1fr;
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: flex;
            justify-content: center;
            border-radius: 20%;
            margin: auto;
            margin-bottom: 15px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 13px;
                font-weight: bolder;
                margin: auto;
                width: auto;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                div {
                    textarea{
                        background-color:#a6dcef ;
                        width: 237px;
                        height: 59px;
                        border-radius: 2%;
                        border-color: #a6dcef;
                        border-bottom: 1px solid #142850;
                        &::placeholder {
                            color: rgb(255, 255, 255);
                        }
                        &:hover {
                            background-color: darken($color: #a6dcef, $amount: 10);
                            color: #fff;
                        }
                    }
                a.form-contact{
                    display: inline-flex;
                    width: 111px;
                }
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 12px;
                        display: inline;
                    }
                }
            }
        }
    }
}

@media (min-width: 521px) and (max-width: 767.98px) {
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;
            img.logo {
                width: 100%;
                padding: 0px;
            }
            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
    }
    div.element-style{
        img.booky{
            max-width: 280px;
            float: none;
            display: block;
            margin: auto;
            margin-top: 21px;
        }
        h1.main{
            font-size: 2.8rem;
            text-align: center;
            line-height: 1.3;
        }
        p{
            font-size: 20px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 38px;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        h1.main{
            font-size: 2.8rem;
            text-align: center;
            line-height: 1.3;
            margin-top: 1px;
        }
        div{
            img.lector{
                width: 250px;
                height: auto;
                float: none;
                display: block;
                margin: auto;
            }
        }
        div.row{
            flex-wrap: wrap;
            .col{
                flex: 0 0 100%;
            }
            p{
                font-size: 18px;
                text-align:left;
            }
        }
    }
    section.creadores {
        padding-bottom: 23px;

        h2 {
            font-family: nunito;
            font-weight: bolder;
            font-size: 2.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }

        div.estefania {
            width: 100%;
            float: none;

            img {
                display: block;
                width: 237px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
            }
            h6{
                display: block;
                text-align: center;
                margin-top: 15px;
            }
            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;
    
                li {
                    margin: 9px;
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }

        div.alejandra {
            width: 100%;
            float: none;

            img {
                display: block;
                width: 237px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
                padding: 0px;
            }
            h6{
                display: block;
                text-align: center;
                margin-top: 15px;
            }
            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;
    
                li {
                    margin: 9px;
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }
    
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns:  1fr;
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 2rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: flex;
            justify-content: center;
            border-radius: 20%;
            margin: auto;
            margin-bottom: 15px;
            padding: 55px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 13px;
                font-weight: bolder;
                margin: auto;
                width: auto;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                div {
                    textarea{
                        background-color:#a6dcef ;
                        width: 417px;
                        height: 59px;
                        border-radius: 2%;
                        border-color: #a6dcef;
                        border-bottom: 1px solid #142850;
                        &::placeholder {
                            color: rgb(255, 255, 255);
                        }
                        &:hover {
                            background-color: darken($color: #a6dcef, $amount: 10);
                            color: #fff;
                        }
                    }
                }
                div.botones{
                    display: flex;
                    justify-content: space-around;
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 12px;
                        display: inline;
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;
            img.logo {
                width: 100%;
                padding: 0px;
            }
            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
    }
    div.element-style{
        img.booky{
            max-width: 390px;
            float: right;
            margin-top: 21px;
        }
        h1.main{
            font-size: 3rem;
            text-align: center;
            line-height: 1.1;
        }
        p{
            font-size: 18px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 38px;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        h1.main{
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
            margin-top: 1px;
        }
        div{
            img.lector{
                width: 250px;
                height: auto;
                float: none;
                display: block;
                margin: auto;
            }
        }
        div.row{
            flex-wrap: wrap;
            .col{
                flex: 0 0 100%;
            }
            p{
                font-size: 18px;
                text-align:left;
            }
        }
    }
    section.creadores {
        padding-bottom: 23px;

        h2 {
            font-family: nunito;
            font-weight: bolder;
            font-size: 2.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }

        div.estefania {
            width: 100%;
            float: none;

            img {
                display: block;
                width: 237px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
            }
            h6{
                display: block;
                text-align: center;
                margin-top: 15px;
            }
            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;
    
                li {
                    margin: 9px;
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }

        div.alejandra {
            width: 100%;
            float: none;

            img {
                display: block;
                width: 237px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }
            h3{
                text-align: center;
                padding: 0px;
            }
            h6{
                display: block;
                text-align: center;
                margin-top: 15px;
            }
            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;
    
                li {
                    margin: 9px;
                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }
    
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: flex;
            justify-content: center;
            border-radius: 20%;
            margin-bottom: 15px;
            padding: 55px;
            margin: 126px;
            margin-top: 10px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 13px;
                font-weight: bolder;
                margin: 15px 12px;
                width: 400px;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                textarea{
                    background-color:#a6dcef;
                    height: 59px;
                    border-radius: 2%;
                    border-color: #a6dcef;
                    border-bottom: 1px solid #142850;
                    &::placeholder {
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        background-color: darken($color: #a6dcef, $amount: 10);
                        color: #fff;
                    }
                }
                div.botones{
                    display: flex;
                    justify-content: space-around;
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 12px;
                        display: inline;
                    }
                }
            }
        }
    }
}
@media (min-width:992px) and (max-width:1216px){
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;
            img.logo {
                width: 100%;
                padding: 0px;
            }
            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
    }
    div.element-style{
        img.booky{
            max-width: 489px;
            float: right;
        }
        h1.main{
            font-size: 4rem;
            text-align: center;
            line-height: 1.1;
        }
        p{
            font-size: 25px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 3.8rem;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        margin-bottom: 50px;
        h1.main{
            font-size: 4rem;
            text-align: center;
            margin-top: 1px;
        }
        div{
            img.lector{
                width: 314px;
                height: auto;
                float: left;
            }
        }
        div.row{
            flex-wrap: wrap;
            .col{
                flex: 0 0 100%;
            }
            p{
                font-size: 22px;
                text-align:left;
            }
        }
    }
    section.creadores {
        padding-bottom: 23px;

        h2 {
            font-family: nunito;
            font-weight: bolder;
            font-size: 2.5rem;
            margin: 32px;
            color: #00909E;
            text-align: center;
        }

        div.estefania {
            width: 50%;
            float: left;

            img {
                display: block;
                width: 237px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }

            p {
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }

            h3 {
                text-align: center;
            }

            h6 {
                display: block;
                text-align: center;
                margin-top: 15px;
            }

            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;

                li {
                    margin: 9px;

                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }

        div.alejandra {
            width: 50%;
            float: right;

            img {
                display: block;
                width: 222px;
                margin: auto;
                float: none;
                border-radius: 100%;
            }

            p {
                font-size: 14px;
                padding: 15px;
                text-align: center;
                margin-bottom: 2px;
            }

            h3 {
                text-align: center;
                padding: 0px;
            }

            h6 {
                display: block;
                text-align: center;
                margin-top: 15px;
            }

            ul {
                margin: 16px;
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding: 2px;

                li {
                    margin: 9px;

                    a {
                        img {
                            max-width: 28px;
                        }
                    }
                }
            }
        }
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: flex;
            justify-content: center;
            border-radius: 20%;
            margin-bottom: 15px;
            padding: 55px;
            margin: 126px;
            margin-top: 10px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 20px;
                font-weight: bolder;
                margin: 15px 12px;
                width: 550px;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                textarea{
                    background-color:#a6dcef;
                    height: 77px;
                    width: 551px;
                    border-radius: 2%;
                    border-color: #a6dcef;
                    border-bottom: 1px solid #142850;
                    &::placeholder {
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        background-color: darken($color: #a6dcef, $amount: 10);
                        color: #fff;
                    }
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 18px;
                        display: inline;
                    }
                }
            }
        }
    }
}
@media (min-width:1217px) and (max-width:2100px){
    .container{
        width: 100%;
    }
    //index//
    header {
        display: inline;
            img.logo {
                width: 100%;
                padding: 0px;
            }
            a.nav-link {
                font-size: 8px;
                padding: 3px;
                margin-top: 14px;

            }
    }
    footer {
        display: inline-block;
        padding: 0;
        width: 100%;
        color: white;
        font-size: 1rem;
        font-family: nunito;
        text-align: center;
        margin: 0px;
        padding: 6px;
        @include backgroundFooterYHeader();
    
        p {
            color: white;
            font-size: 1.2rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }
    
        ul {
            display: inline;
            list-style-type: none;
            text-align: center;
            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;
                a {
                    img {
                        max-width: 54px;
                    }
                }
            }
        }
    }
    div.element-style{
        img.booky{
            max-width: 489px;
            float: right;
        }
        h1.main{
            font-size: 4rem;
            text-align: center;
            line-height: 1.1;
        }
        p{
            font-size: 25px;
        }
    }
    section.second{
        div.form {
            h2 {
                font-family: nunito;
                font-size: 3.8rem;
                color: #fff;
                margin: 5px;     
            }
        }
    }
    footer {
        p {
            color: white;
            font-size: .8rem;
            font-family: nunito;
            text-align: center;
            margin: 0px;
        }

        ul {
            display: inline;
            list-style-type: none;
            text-align: center;

            li {
                display: inline;
                text-align: center;
                margin: 0 10px 0 0;

                a {
                    img {
                        max-width: 28px;
                    }
                }
            }
        }
    }
    //Quienes Somos//
    main{
        div{
            img.lector{
                width: 315px;
                height: auto;
                object-fit: cover;
                float: right;
            }
        }
        div.row{
            p{
                font-size: 20px;
                text-align:left;
            }
        }
    }
    section.creadores{
        @include backgroundCreadores();
            h2{
                font-family: nunito;
                font-weight: bolder;
                font-size: 3.5rem;
                margin: 32px;
                color: #00909E;
                text-align: center;
            }
        div.estefania{
            @include estefaniaMorales();
        }
        div.alejandra{
            @include alejandraPosada()
        }
    
    }
    // Galería
    section.gallery {
        margin-bottom: 2rem;
        div.article-layout {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 1fr;
            grid-auto-flow: dense;  
            div.img-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    transform: scale(1.08);
                    background-color:lighten($color: #e36387, $amount: 20);
                    border-radius: 30px;
                }
                img {
                    height: auto;
                    width: 285px;
                }
            }
        }
    }
    //Contactos
    main {
        h1.main {
            font-size: 3rem;
            text-align: center;
            line-height: 1.3;
        }
        section.contacts {
            display: flex;
            justify-content: center;
            border-radius: 20%;
            margin-bottom: 15px;
            padding: 55px;
            margin: 126px;
            margin-top: 10px;
            @include backgroundSection();

            form.contactos {
                font-family: nunito;
                font-size: 20px;
                font-weight: bolder;
                margin: 15px 12px;
                width: 550px;
                color: #142850;
                margin-bottom: 20px;
                justify-content: center;
                align-items: center;

                textarea{
                    background-color:#a6dcef;
                    height: 77px;
                    width: 551px;
                    border-radius: 2%;
                    border-color: #a6dcef;
                    border-bottom: 1px solid #142850;
                    &::placeholder {
                        color: rgb(255, 255, 255);
                    }
                    &:hover {
                        background-color: darken($color: #a6dcef, $amount: 10);
                        color: #fff;
                    }
                }
                div.condiciones {
                    input{
                        display: inline;
                    }
                    label{
                        font-size: 18px;
                        display: inline;
                    }
                }
            }
        }
    }
}